<div class="modal-panel-filebrowser" data-current-focuspointPanelId="" data-current-fieldname="">
    <ul class="nav nav-tabs">
        <li role="presentation" class="active" data-browser-key="file">
            <a href="#">
                <f:translate key="LLL:EXT:bw_focuspoint_images/Resources/Private/Language/locallang_db.xlf:wizard.filebrowser.file"/>
            </a>
        </li>
        <a href="#" id="closefilebrowser"><i class="fa fa-times"></i></a>
    </ul>

    <div class="modal-panel-filebrowser-content">
        <div class="modal-panel-filebrowser-item active" data-browser-key="file">

            <div class="filelist-module-navigation">

            </div>

            <div class="panel panel-default">
                <div class="table-fit">
                    <div class="filelist-module-content">
                        Loading...
                    </div>
                </div>
            </div>

        </div>
    </div>

</div>