<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers">

<f:if condition="{field.title}">
    <label class="element{j.cycle}">
        <f:translate key="{field.title}">{field.title}</f:translate>
    </label>
</f:if>
<div class="input-group">
    <f:switch expression="{field.type}">
        <f:case value="text">
            <input type="text" name="{fieldname}" data-focuspointPanelId="x"/>
        </f:case>
        <f:case value="textarea">
            <textarea name="{fieldname}" data-focuspointPanelId="x"></textarea>
        </f:case>
        <f:case value="select">
            <select name="{fieldname}" data-focuspointPanelId="x">
                <f:for each="{field.options}" as="option" key="optionname" iteration="k">
                    <option value="{optionname}">{f:translate(id:'{option}')}</option>
                </f:for>
            </select>
        </f:case>
        <f:case value="link">
            <input type="text" class="linkbrowser-input" readonly/>
            <a href="#" class="linkbrowser-remove"><i class="fa fa-times"></i></a>
            <a href="#" class="linkbrowser btn btn-default" data-fieldname="{fieldname}" data-focuspointPanelId="x"><i
                class="fa fa-link"></i></a>
            <div class="linkbrowser__target">
                <label>
                    <f:translate key="LLL:EXT:bw_focuspoint_images/Resources/Private/Language/locallang_db.xlf:wizard.target"/>:</label>
                <select class="linkbrowser-target" data-fieldname="{fieldname}" data-focuspointPanelId="x">
                    <option value="">
                        {f:translate(key:'LLL:EXT:bw_focuspoint_images/Resources/Private/Language/locallang_db.xlf:wizard.target.default')}</option>
                    <option value="_top">
                        {f:translate(key:'LLL:EXT:bw_focuspoint_images/Resources/Private/Language/locallang_db.xlf:wizard.target.top')}</option>
                    <option value="_blank">{f:translate(key:'LLL:EXT:bw_focuspoint_images/Resources/Private/Language/locallang_db.xlf:wizard.target.newWindow')}</option>
                </select>
            </div>
        </f:case>
        <f:case value="upload">

            <input type="text" class="filebrowser-input" readonly/>
            <a href="#" class="filebrowser-remove">
                <i class="fa fa-times"></i>
            </a>
            <a href="#" class="filebrowser btn btn-default" data-module="{f:be.uri(route: 'file_FilelistList')}" data-fieldname="{fieldname}" data-focuspointPanelId="x">
                <i class="fa fa-image"></i>
            </a>
            <div class="thumbnail-preview"></div>
        </f:case>
    </f:switch>
</div>

</html>
