<div class="modal-panel-linkbrowser" data-current-focuspointPanelId="" data-current-fieldname="">

    <ul class="nav nav-tabs">
        <li role="presentation" class="active" data-browser-key="page">
            <a href="#">
                <f:translate key="LLL:EXT:bw_focuspoint_images/Resources/Private/Language/locallang_db.xlf:wizard.linkbrowser.page"/>
            </a>
        </li>
        <f:for each="{linkBrowsers}" as="linkbrowser" key="key" iteration="i">
            <li role="presentation" data-browser-key="{key}">
                <a href="#">
                    <f:translate key="{linkbrowser.label}"/>
                </a>
            </li>
        </f:for>
        <a href="#" id="closelinkbrowser"><i class="fa fa-times"></i></a>
    </ul>

    <div class="modal-panel-linkbrowser-content">

        <div class="modal-panel-linkbrowser-item active" data-browser-key="page">
            <table>
                <f:for each="{tree}" as="page" iteration="i">
                    <tr class="db_list_normal {f:if(condition: page.hasSub, then: 'has-sub')}"
                        data-uid="{page.row.uid}"
                        data-pid="{page.row.pid}">
                        <td>
                            <a class="pagetree-link {f:if(condition: page.hasSub, then: 'has-sub')}"
                               href="#"
                               data-uid="{page.row.uid}"
                               data-pid="{page.row.pid}">
                                <f:if condition="{page.hasSub}">
                                    <span class="pagetree-opener"></span>
                                </f:if>
                                {page.depthData -> f:format.raw()}
                                <f:format.raw>{page.HTML}</f:format.raw>
                                <span class="pagetree-title">{page.row.title}</span>
                            </a>
                        </td>
                    </tr>
                </f:for>
            </table>
        </div>


        <f:for each="{linkBrowsers}" as="linkbrowser" key="key" iteration="i">
            <div class="modal-panel-linkbrowser-item" data-browser-key="{key}">
                <f:be.tableList tableName="{linkbrowser.configuration.table}"
                                clickTitleMode="show"
                                recordsPerPage="9999"
                                storagePid="{linkbrowser.configuration.storagePid}"
                                levels="{linkbrowser.configuration.levels}"/>
            </div>
        </f:for>
    </div>

</div>