
.focuspoint {
    width: 100%;
    height: auto;
    position: relative;
}
.focuspoint > img {
    width: 100%;
    height: auto;
}
.focuspoint .point {
    position: absolute;
    z-index: 10;
    width: 45px;
    height: 45px;
}
.focuspoint .point .fa {
    font-size: 44px;
}

.focuspoint .popover {
    position: absolute;
    z-index: 30;
    border-radius: 4px;
    padding: 15px;
    background: rgba(34, 34, 34, 0.753);
    width: 365px;
}

.focuspoint .popover.hidden {
    display: none;
}

.focuspoint .popover .image {
    background-color: #FFF;
    padding: 10px;
}

.focuspoint .popover .image img {
    width: 100%;
    height: auto;
}

.focuspoint .popover .content {
    padding: 10px 10px 0;
}

.focuspoint .popover .content .title {
    color: #FFF;
    font-weight: bold;
}

.focuspoint .popover .content .description {
    color: #FFF;
}

.focuspoint .popover .content .title a,
.focuspoint .popover .content .description a {
    color: #FFF !important;
    text-decoration: none;
}