<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" xmlns:fp="http://typo3.org/ns/Blueways/BwFocuspointImages/ViewHelpers">

    <f:if condition="{data.header}">
        <h1>{data.header}</h1>
    </f:if>

    <div class="focuspoint">
        <f:render section="Focuspoints" arguments="{_all}" />
    </div>

    <f:section name="Focuspoints">

        <f:image image="{image}"/>

        <f:for each="{points}" as="point" iteration="i">
            <div class="point point-{i.index}" data-index="{i.index}" style="top: {point.y}%; left: {point.x}%; color: {point.color};">
                <i class="fa fa-search-plus"></i>
            </div>
        </f:for>

        <f:for each="{points}" as="point" iteration="i">
            <f:render section="PopOver" arguments="{_all}" />
        </f:for>

    </f:section>

    <f:section name="PopOver">
        <div class="popover popover-{i.index} hidden" data-index="{i.index}">
            <f:if condition="{point.image}">
                <div class="image">
                    <f:if condition="{point.link}">
                        <f:then>
                            <a href="{f:uri.typolink(parameter: point.link)}" target="{point.linkTarget}">
                                <f:image image="{fp:getImage(image: point.image)}" width="300c" />
                            </a>
                        </f:then>
                        <f:else>
                            <f:image image="{fp:getImage(image: point.image)}" width="300c" />
                        </f:else>
                    </f:if>
                </div>
            </f:if>
            <div class="content">
                <f:if condition="{point.name}">
                    <div class="title">
                        <f:if condition="{point.link}">
                            <f:then>
                                <a href="{f:uri.typolink(parameter: point.link)}" target="{point.linkTarget}">
                                    {point.name}
                                </a>
                            </f:then>
                            <f:else>
                                {point.name}
                            </f:else>
                        </f:if>
                    </div>
                </f:if>
                <f:if condition="{point.description}">
                    <div class="description">
                        <f:if condition="{point.link}">
                            <f:then>
                                <a href="{f:uri.typolink(parameter: point.link)}" target="{point.linkTarget}">
                                    <f:format.nl2br>{point.description}</f:format.nl2br>
                                </a>
                            </f:then>
                            <f:else>
                                <f:format.nl2br>{point.description}</f:format.nl2br>
                            </f:else>
                        </f:if>
                    </div>
                </f:if>
            </div>
        </div>
    </f:section>

</html>

